body{
	margin: 0;
	padding: 0;
	min-width: 400px;
}
#wrap{
	position: absolute;
	width: 400px;
	height: 200px;
	background: #ccc;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #ccc;
	overflow: hidden;
}
.left-top{
	position: absolute;
	height: 50px;
	width: 50px;
    border-radius: 0 0 100% 0;
    -moz-border-radius:0 0 100% 0;
    -webkit-border-radius:0 0 100% 0;	
    background: #fc0;
}
.right-buttom{
	position: absolute;
	left: 350px;
	top: 150px;
	height: 50px;
	width: 50px;
    border-radius:100% 0 0 0;
    -moz-border-radius:100% 0 0 0;
    -webkit-border-radius:100% 0 0 0;	
    background: #fc0;
}
